body{
  margin: 0;
}

html,body{height:100%;font-family:Inter, system-ui, Arial, Helvetica, sans-serif;background:var(--bg);color:#0b1220}
p{
  font-family: Arial, Helvetica, sans-serif;
}




.header{
   width:100%;
  display:grid;
  grid-template-columns:350px 1fr 350px;
  backdrop-filter:blur(14px);
  -webkit-backdrop-filter:blur(14px);
  background-color:rgba(255,255,255,0.18);
  border-bottom:1px solid rgba(255,255,255,0.3);
 background-color: rgb(22, 22, 255);
  position:sticky;
  top:0;
  z-index:40
 
}

.left-section{
  
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.logo{
  width: 25px;
  margin-right: 20px;
}
.logo-text{
  color: rgb(0, 166, 255);
  font-size: 20px;
}
.middle-section{
display:flex;
      justify-content:center
}
  .nav-links{
      display:flex;
      gap:14px;
      align-items:center;
      flex-wrap:wrap
    }
    .nav-links a{
      padding:8px;
      border-radius:3px;
      color:rgb(255, 255, 255);
      
    }
    .links{
      color: white;
    }
.links:hover{
  background-color: rgb(0, 166, 255);
  color: white;
}
.right-section{
 
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.btn{
  background-color: rgb(194, 194, 194);
  margin-left: 30px;
  padding: 10px 10px;
  border: 1px solid rgb(26, 103, 255);
  border-radius: 4px;
}
.btn:hover{
  background-color: rgb(0, 166, 255);
  color: white;
}
.page{
      overflow:hidden;
      min-height:420px;
      display:flex;
      justify-content: center;
      
     background: url('https://i.pinimg.com/1200x/23/c3/8f/23c38f92ad6faf41c60b20b6e3fcad4a.jpg')no-repeat;
      background-size:cover;
      background-position:center;
      color:white;
      padding:36px;
}
.main{
 margin-left: 20px;

 

}
.form-rows{
  display: flex;

  flex-direction: column;
  gap: 20px;

}
.form{
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  padding: 10px;
    backdrop-filter: blur(14px);
   width: 500px;
  height: 200px;
  gap: 30px;
 margin-left: 30px;
}
.title{
  font-size: 50px;
}
.text{
  display: flex;
  justify-content: center;
  font-size: 15px;
}
.select{
  background: url('https://img.icons8.com/?size=100&id=7880&format=png&color=FFFFFF') no-repeat left;
  background-size:15px ;
  padding: 7px;
  border: 1px solid gray;
  border-radius: 8px;
  width: 200px;
}
.select::placeholder{
  padding-left: 10px;
  color: white;
}
.form-row{
gap: 6px;
}
.select-to{
    background: url('https://img.icons8.com/?size=100&id=7880&format=png&color=FFFFFF') no-repeat left;
  background-size:15px ;
  padding: 7px;
  margin-left: 17px;
  border: 1px solid gray;
  border-radius: 8px;
  width: 200px;
}
.select-to::placeholder{
  padding-left: 10px;
  color: white;
}
.select-date{
  padding: 5px;
  width: 200px;
  border: 1px solid gray;
  border-radius: 8px;
}
.buttons{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 6px;
}
.search-btn{
  background: url('https://img.icons8.com/?size=100&id=59878&format=png&color=FFFFFF');
  background-size:15px ;
  background-repeat: no-repeat;
  background-position: left;
  padding: 10px 20px;
  border: 1px solid rgb(16, 100, 255);
  color: white;
  border-radius: 8px;
}
.search-btnn{
 background: url('https://img.icons8.com/?size=100&id=95867&format=png&color=FFFFFF');
  background-size:15px ;
  background-repeat: no-repeat;
  background-position: left;
  padding: 10px 20px;
  border: 1px solid rgb(50, 118, 255);
  color: white;
  border-radius: 8px;
}
.search-btn:hover{
  background-color: rgb(140, 179, 195);
}
.search-btnn:hover{
  background-color: rgb(140, 179, 195);
}


@media(max-width:950px){
  .header{
    grid-template-columns:1fr 1fr;
  }
}
@media(max-width:600px){
  .header{
    grid-template-columns:1fr;
    text-align:center;
  }
  .left-section{
    justify-content:center;
  }
  .middle-section{
    justify-content:center;
  }
  .right-section{
    display:none;
  }
  .page{
     padding:18px;
  }
  .form{
     width:100%;
     height:auto;
     flex-direction:column;
  }
}